* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    list-style: none;
    vertical-align: baseline;
    font-family: 'Source Sans Pro', sans-serif;
    outline: none;
}

/* html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    padding: 20px;
} */

html {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	background: linear-gradient(50deg, #40186a, #ce1c20);
	height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
	overflow-wrap: break-word;
}

.content {
	flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
	width: 100%;
}

.footer {
	flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
	padding: 20px;
}

.h1-custom{
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
    color: white;
    font-family: Montserrat, Helvetica, Arial, sans-serif;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Extra small devices (portrait phones, menor que 576px)*/
@media (max-widht: 575.98px) {
    
}

/*Small devices (landscape phones, 576px e maiores)*/
@media (min-width: 576px) and (max-width: 767.98) {
    h1{
        font-size: 3em;
    }
}

/*Medium devices (tablets, 768px e maiores)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	h1{
		font-size: 3em;
	}
}

/*Large devices (desktops, 992px e maiores)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1{
        font-size: 4em;
    }
}

/*Extra large devices (large desktops, 1200px  e maiores)*/
@media (min-width: 1200px) {
    h1{
        font-size: 5em;
    }
}